<html>
<head>
    <title> {% block title %}Project Hub{% endblock %}</title>
{% load staticfiles %}
    <link type="text/css"  href="{% static 'home/css/style.css' %}" rel="stylesheet"/>
    <script type="text/javascript" src="{% static 'home/js/jquery-1.3.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'home/js/script.js' %}"></script>
    <script type="text/javascript" src="{% static 'home/js/cufon-yui.js' %}"></script>
    <script type="text/javascript" src="{% static 'home/js/arial.js' %}"></script>
    <script type="text/javascript" src="{% static 'home/js/cuf_run.js' %}"></script>
</head>

<body>
<div class="main">
  <div class="header">
    <div class="header_resize">
      <div class="logo">
        <h1><a href="index.html"><span>Project </span>Hub</a></h1>
      </div>
	  {% block nav-global %}
      <div class="menu_nav">
        <ul>
			{% if request.user.is_authenticated %}
				<li><a href="{% url 'user:logout' %}"> Logout</a></li>
			{% else %}
				<li><a href="{% url 'user:login' %}"> Log in</a></li>
				<li><a href="{% url 'user:register' %}"> Sign Up</a></li>
			{% endif %}
        </ul>
      </div>
	  {% endblock %}
</div>
 </div>
</div>

      <div class="clr"></div>
      <div class="hbg"><img src="{% static 'home/images/header_images.jpg' %}" width="430" height="315" alt="" class="fl" />
        <div class="info fl">
          <h3>BUILD BETTER SOFTWARE <br />
            TOGETHER</h3>
        </div>
        <div class="clr"></div>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        
      </div>
      <div class="sidebar">
        <div class="gadget">
          <div class="search">
            <form method="get" id="search" action="#">
              <span>
              <input type="text" value="Search..." name="s" id="s" />
              <input name="searchsubmit" type="image" src="{% static 'home/images/search.gif' %}" value="Go" id="searchsubmit" class="btn"  />
              </span>
            </form>
            <div class="clr"></div>
          </div>
        </div>
        <div class="gadget">
          <h2 class="star"><span>Menu</span></h2>
          <div class="clr"></div>
          <ul class="sb_menu">
            <li class="active">
			<a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="footer">
    <div class="footer_resize">
      <p class="lf">&copy; Copyright <a href="#">Project Hub</a>.</p>
      <div class="clr"></div>
    </div>
  </div>
</body>
</html>